<launch>
    <node pkg="setting_tf2" type="setting_t265_world" name="setting_t265_tf_node"/>
    <node pkg="setting_tf2" type="setting_d435_frame" name="setting_d435_tf_node"/>
    <node pkg="setting_tf2" type="setting_platform_world" name="setting_platform_world_tf_node"/>
    <node pkg="setting_tf2" type="setting_platform" name="setting_platform_tf_node"/>
    <node pkg="setting_tf2" type="tf_listener" name="pos_listener"/>
</launch>

